/.idea/
/ScalaLLM.iml

# Temp Jupyter directories
/workspace/.Trash-0/
/workspace/**/.ipynb_checkpoints/

# Saved models
/workspace/**/*.pth
/workspace/chapter5/data/openai124M/
/workspace/chapter6/data/openai124M/

# Chapter 6 dataset
/workspace/chapter6/data/sms-spam-raw/
